.header {
 text-align: center;
 color: #fff;
 background: #ad63ff;
}

.header h1 {
 padding-top: 3rem;
 font-size: 2rem;
}

.header img {
 justify-content: center;
 margin: 4rem;
 width: 60% auto;
 height: 40vh;
 
}